## This file should be placed at /lib/systemd/system/pi-radio.service
## You can copy with:> sudo cp pi-radio.service /lib/systemd/system/pi-radio.service
## Then reload the daemon to read the file:> sudo systemctl daemon-reload
## Start the service:> sudo systemctl start pi-radio.service

[Unit]
Description=Raspberry Pi Radio
After=multi-user.target mpd.service

[Service]
ExecStart=/home/pi/dotnet/dotnet /home/pi/pi-radio/src/bin/Debug/net6.0/pi-radio.dll
User=pi

[Install]
WantedBy=multi-user.target


